<%- include('./partials/header.ejs') %>


<h3><%- element.name %></h3>
<p><%- element.description %></p>
<h5>category: <%- element.category %></h5>
<h5>Price: <%- element.price %></h5>
<h5>pieces left: <%- element.count %></h5>
<h5>Rating: <%- element.rating %></h5>
<% if(user) { %>
    <form>
        <label for="quantity">Quantity</label>
        <input type="number" name="quant">
        <button type="submit">Add to cart</button>
        <div class="quantity error"></div>
    </form>
<% } %>

<script>
    const form = document.querySelector('form');
    const item = <%- JSON.stringify(element) %>;
    const currUser = <%- JSON.stringify(user) %>;
    const quantityError = document.querySelector('.quantity.error');
    quantityError.textContent = '';

    form.addEventListener('submit', (event) => {
        event.preventDefault(); 

        const quantity = form.quant.value;
        if(currUser.role == 'customer'){
            if(item.count < quantity){
                quantityError.textContent = 'Out of stock';
            }
            else{
                quantJson = JSON.stringify({quantity});

                fetch(`/cart/${currUser._id}/${item._id}`, {
                    method: 'POST',
                    headers: {'content-type': 'application/json'},
                    body: quantJson
                }).then(result => {
                    location.assign('/items');
                }).catch(err => {
                    console.log('err');
                });
            }
        }
        else{
            quantJson = JSON.stringify({quantity});

                fetch(`/items/edit/${item._id}`, {
                    method: 'POST',
                    headers: {'content-type': 'application/json'},
                    body: quantJson
                }).then(result => {
                    location.assign(`/items/store/${currUser._id}`);
                }).catch(err => {
                    console.log('err');
                });
        }
    });
</script>


<%- include('./partials/footer.ejs') %>